<footer class="footer">
        <div class="container1">
            <div class="row">
                <div class="footer-col">
                    <h4>Cinema Việt Nam</h4>
                    <ul>
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Tiện Ích</a></li>
                        <li><a href="#">Tuyển Dụng</a></li>
                        <li><a href="#">Liên Hệ Quảng Cáo</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Điều khoảng sử dụng</h4>
                    <ul>
                        <li><a href="#">Điều Khoản Chung</a></li>
                        <li><a href="#">Điều Khoản Giao Dịch</a></li>
                        <li><a href="#">Chính Sách Thanh Toán</a></li>
                        <li><a href="#">Chính Sách Bảo Mật</a></li>
                        <li><a href="#">Câu Hỏi Thường Gặp</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Kết nói với chúng tôi</h4>
                    <div class="social-links">
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
                <div class="footer-col">
                    <h4>Chăm sóc khách hàng</h4>
                    <ul>
                        <li>
                                
                            <p>
                                <a href="#"><i class="fa fa-phone"></i>&nbsp;Hotline:</a>
                               
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#"><i class="fa fa-clock-o"></i>&nbsp;Giờ làm việc:</a>
                               
                            </p>
                            
                        </li>
                        <li>
                            <p>
                                <a href="#"><i class="fa fa-envelope"></i>&nbsp;Email hỗ trợ:</a>
                               
                            </p>
                        </li>
                        <li>
                            <p>
                                <a href="#"><i class="fa fa-map-marker"></i>&nbsp;Địa chỉ:</a>
                               
                            </p>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
</footer>