<section  id="about" class="about py-5">
    
<div style="background-color: #000;" class="bod">
            <div class="container-a2">
                <div onclick="location.href='/auth/admin/config/suatchieu'" style="cursor: pointer;" class="box">
                    <div class="content">
                        <img src="/images/icon/showtime.png" alt="">
                        <p>Suất Chiếu (Edit / Add / Delete)</p>
                    </div>
                </div>
                <div onclick="location.href='/auth/admin/config'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/icon/video-player.png" alt="">
                            <p>Phim (Edit / Add / Delete)</p>
                        </div>
                </div>
                <div onclick="location.href='/auth/admin/config/cumrap'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/icon/places-to-visit.png" alt="">
                            <p>Cụm Rạp (Edit / Add / Delete)</p>
                        </div>
                </div>
                <div onclick="location.href='/auth/admin/profile'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/icon/administrator.png" alt="">
                            <p>Tài Khoản</p>
                        </div>
                </div>
                <div onclick="location.href='/thongke'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/icon/graph.png" alt="">
                            <p>Thống Kê</p>
                        </div>
                </div>
                <div class="box">
                        <div class="content">
                        <img src="/images/icon/settings.png" alt="">
                            <p>Config</p>
                        </div>
                </div>
                <div onclick="location.href='/auth/admin/config/rap'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/icon/cinema2.png" alt="">
                            <p>Rạp (Edit / Add / Delete)</p>
                        </div>
                </div>
                    
            </div>
        </div>
     
</section>
