<section id="about" class="about py-5">
    
<div class="bod">
            <div class="container-a2">
                <div onclick="location.href='/auth/admin/config/suatchieu'" style="cursor: pointer;" class="box">
                    <div class="content">
                        <img src="/images/page/signin-image.jpg" alt="">
                        <p>Suất Chiếu (Edit / Add / Delete)</p>
                    </div>
                </div>
                <div onclick="location.href='/auth/admin/config'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/page/signup-image.jpg" alt="">
                            <p>Phim (Edit / Add / Delete)</p>
                        </div>
                </div>
                <div onclick="location.href='/auth/admin/config/cumrap'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/page/signin-image.jpg" alt="">
                            <p>Cụm Rạp (Edit / Add / Delete)</p>
                        </div>
                </div>
                <div class="box">
                        <div class="content">
                        <img src="/images/page/signup-image.jpg" alt="">
                            <p>Tài Khoản</p>
                        </div>
                </div>
                <div class="box">
                        <div class="content">
                        <img src="/images/page/signin-image.jpg" alt="">
                            <p>Setting</p>
                        </div>
                </div>
                <div class="box">
                        <div class="content">
                        <img src="/images/page/signup-image.jpg" alt="">
                            <p>Config</p>
                        </div>
                </div>
                <div onclick="location.href='/auth/admin/config/rap'" style="cursor: pointer;" class="box">
                        <div class="content">
                        <img src="/images/page/signin-image.jpg" alt="">
                            <p>Rạp (Edit / Add / Delete)</p>
                        </div>
                </div>
                    
            </div>
        </div>
     
</section>
