<div style="background-color: #000; margin-top: 70px;"  class=" about py-4">
    <main  class="m container">
        <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
            <div style="border: none;" class="card uudai1">
                <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai1.jpg" alt="Card image cap">
                
            </div>
        </div>
        <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
            <div style="border: none;" class="card uudai1">
                <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai2.jpg" alt="Card image cap">
                
            </div>
        </div>
        <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
            <div style="border: none;" class="card uudai1">
                <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai3.jpg" alt="Card image cap">
                
            </div>
        </div>
        <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
            <div style="border: none;" class="card uudai1">
                <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai4.jpg" alt="Card image cap">
                
            </div>
        </div>
        <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
            <div style="border: none;" class="card uudai1">
                <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai5.jpg" alt="Card image cap">
                
            </div>
        </div>
        <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
                <div style="border: none;" class="card uudai1">
                    <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai6.jpg" alt="Card image cap">
                    
                </div>
            </div>
            <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
                <div style="border: none;" class="card uudai1">
                    <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai7.jpg" alt="Card image cap">
                    
                </div>
            </div>
            <div style="width:230px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
                <div style="border: none; " class="card uudai1">
                    <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai8.jpg" alt="Card image cap">
                    
                </div>
            </div>
            <div style="width:240px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
                <div style="border: none;" class="card uudai1">
                    <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai9.jpg" alt="Card image cap">
                    
                </div>
            </div>
            <div style="width:240px;  height: 220px; margin: 10px auto; border: none;"  class="phim ">                            
                <div style="border: none;" class="card uudai1">
                    <img style="height: 220px;" class="card-img-top" src="/images/uudai/uudai10.jpg" alt="Card image cap">
                    
                </div>
            </div>
    </main>

</div>

<%- include('partials/footer.ejs') %>
